# **기술통계 구하기**

**ns_book6 파일 다운로드하기**

In [1]:
import gdown
gdown.download('https://bit.ly/3736JW1', 'ns_book6.csv', quiet=False)

Downloading...
From: https://bit.ly/3736JW1
To: /content/ns_book6.csv
100%|██████████| 55.0M/55.0M [00:01<00:00, 44.0MB/s]

'ns_book6.csv'

**다운로드한 ns_book6 파일을 데이터프레임으로 불러 온 후 처음 다섯 개 행 출력하기**

In [2]:
import pandas as pd
ns_book6 = pd.read_csv('ns_book6.csv', low_memory=False)
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

**판다스는 데이터프레임에서 기본적인 몇 가지 기술통계를 자동으로 추출해 주는 describe() 메서드를 제공한다.**

**ns_book6 데이터프레임에서 describe() 메서드 호출하기 (describe() 메서드는 기본적으로 수치형 열에 대한 요약 통계를 보여 준다.)**

In [3]:
ns_book6.describe()

                  번호           발행년도           도서권수           대출건수
count  379976.000000  379976.000000  379976.000000  379976.000000
mean   201726.332847    2008.516306       1.135874      11.504629
std    115836.454596       8.780529       0.483343      19.241926
min         1.000000    1947.000000       0.000000       0.000000
25%    102202.750000    2003.000000       1.000000       2.000000
50%    203179.500000    2009.000000       1.000000       6.000000
75%    301630.250000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

*   count: 누락된 값을 제외한 데이터 개수를 나타낸다.
*   mean: 평균을 구한다.
*   std: 표준편차를 구한다.
*   min: 최솟값을 구한다.
*   50%: 중앙값을 구한다.
*   25%와 75%: 순서대로 늘어 놓았을 때 25% 지점과 75% 지점에 놓인 값이다.
*   max: 최댓값을 구한다.

**도서권수가 0인 도서의 행 개수 카운트하기: 불리언 배열과 sum() 함수**

In [4]:
sum(ns_book6['도서권수']==0)

3206

**실제로 없는 도서 대출 데이터는 의미가 없다고 생각하여 제외하기**

In [5]:
ns_book7 = ns_book6[ns_book6['도서권수']>0]

**원하는 위치의 값을 보기: describe() 메서드 (percentiles 매개변수: 원하는 위치 지정)**

In [6]:
ns_book7.describe(percentiles=[0.3, 0.6, 0.7])

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
30%    124649.700000    2004.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
60%    243537.400000    2011.000000       1.000000       8.000000
70%    282850.300000    2013.000000       1.000000      12.000000
max    401681.000000    2650.000000      40.000000    1765.000000

**열의 데이터 타입이 수치가 아닌 다른 데이터 타입의 열의 기술통계 보기: include 매개변수**

**object 타입의 열에 대한 통계 보기**

In [7]:
ns_book7.describe(include='object')

,도서명,저자,출판사,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,376770,376770,376770,376770,55866,308252,61793,359792,376770
unique,336408,248850,21875,350810,14875,17,834,12467,4562
top,승정원일기,세종대왕기념사업회 [편],문학동네,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,250,303,4410,206,702,158235,13282,14816,28185

*   count: 누락된 값을 제외한 데이터 개수를 나타낸다.
*   unique: 고유한 값의 개수를 나타낸다.
*   top: 가장 많이 등장하는 값을 나타낸다.

# **평균 구하기**

**파이썬으로 평균 출력하기: range() 함수**

In [9]:
x = [10, 20, 30]
sum = 0
for i in range(3):
  sum += x[i]
print("평균:", sum / len(x))

평균: 20.0

**판다스 데이터프레임과 시리즈 객체는 평균을 계산하는 mean() 메서드를 제공한다.**

**'대출건수' 열에서 mean() 메서드 출력하기**

In [10]:
ns_book7['대출건수'].mean()

11.593438968070707

# **중앙값 구하기**

**남산도서관 대출 데이터에서 대출건수의 중앙값 찾기: median() 메서드**

In [11]:
ns_book7['대출건수'].median()

6.0

**데이터 개수가 짝수이면 가운데 두 개의 값을 평균하여 중앙값을 결정한다.**

In [12]:
temp_df = pd.DataFrame([1,2,3,4])
temp_df.median()

0    2.5
dtype: float64

**중복값을 제거하고 중앙값 구하기: drop_duplicates() 메서드**

**'대출건수' 열에서 중복된 값을 가진 행을 제거한 후 중앙값 구하기**

In [13]:
ns_book7['대출건수'].drop_duplicates().median()

183.0

**이 결과로 미루어 짐작해 보면 작은 대출건수에 중복된 행이 많다고 생각할 수 있다.**

# **최솟값, 최댓값 구하기**

**판다스에서는 각각 min() 메서드와 max() 메서드를 제공한다.**

In [14]:
ns_book7['대출건수'].min()

0

In [15]:
ns_book7['대출건수'].max()

1765

# **분위수 구하기**

**판다스에서 분위수 값 계산하기: quantile() 메서드**

In [20]:
ns_book7['대출건수'].quantile(0.25)

2.0

**quantile() 메서드에 여러 개의 분위수를 지정할 수도 있다.**

In [21]:
ns_book7['대출건수'].quantile([0.25,0.5,0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

**1, 2, 3, 4, 5 다섯 개의 숫자가 있을 때 90% 위치에 있는 값 계산하기**

In [22]:
pd.Series([1,2,3,4,5]).quantile(0.9)

4.6

**quantile() 메서드는 interpolation 매개변수에서 중간 값을 계산하는 방법을 결정한다. (기본값은 'linear'로 양쪽 분위수에 비례하여 결정된다.)**

**※ interpolation 매개변수는 'linear' 외에도 여러 가지 다른 보간 방식을 제공한다.**

**※ 'midpoint'는 분위수에 상관없이 무조건 두 수 사이의 중앙값을 사용한다.**

In [24]:
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='midpoint')

4.5

**※ 'nearest'는 두 수 중에서 가까운 값을 선택한다. 이 경우는 0.9가 1.0에 더 가깝기 때문에 5가 된다.**

In [27]:
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='nearest')

5

**※ 'lower'는 두 수 중에서 작은 값을 선택한다.**

In [26]:
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='lower')

4

**※ 'higher'는 두 수 중에서 큰 값을 선택한다.**

In [28]:
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='higher')

5

**백분위 구하기**

**판다스에서 이에 대한 메서드를 제공하지 않지만, 간단한 트릭으로 유사한 결과를 얻을 수 있다.**

**남산도서관 대출 데이터에서 대출건수 10이 위치한 백분위 찾기**

**'대출건수' 열의 값이 10보다 작은지 비교하여 불리언 배열을 만든다.**

In [30]:
borrow_10_flag = ns_book7['대출건수'] < 10

**이렇게 변환한 borrow_10_flag 배열(실제로는 시리즈 객체)에서 True인 개수를 모두 헤아린 후 전체 데이터 개수로 나누면 10보다 작은 대출건수의 비율을 얻을 수 있다. 데이터의 양이 많다면 전체 데이터를 순서대로 놓았을 때 10이 위치한 백분위와 거의 비슷하게 된다.**

**판다스에서 불리언 자료를 산술 연산하면 True는 1, False는 0으로 취급하므로 borrow_10_flag 배열에서 mean() 메서드를 호출하여 평균을 구하면 1보다 작은 값이 차지하는 비율을 간단히 얻을 수 있다.**

In [31]:
borrow_10_flag.mean()

0.6402712530190833

**quantile() 메서드에 백분위를 넣어 직접 확인하면 기대했던 10이 출력된다.**

In [32]:
ns_book7['대출건수'].quantile(0.65)

10.0

# **분산 구하기**

**판다스에는 분산을 계산하는 var() 메서드가 있다.**

In [33]:
ns_book7['대출건수'].var()

371.69563042906674

# **표준편차 구하기**

**판다스에서 표준편차를 계산할 때는 std() 메서드를 활용한다.**

In [34]:
ns_book7['대출건수'].std()

19.279409493785508

**※ 판다스와 넘파이를 사용해 표준편차를 수식대로 직접 계산하기**

In [35]:
import numpy as np
diff = ns_book7['대출건수'] - ns_book7['대출건수'].mean() # 각 '대출건수' 열의 값에서 평균 빼기
np.sqrt(np.sum(diff**2) / len(ns_book7)-1) # 분산의 제곱근 구하기

19.25343200307804

# **최빈값 구하기**

**판다스에서 최빈값 계산하기: mode() 메서드**

In [36]:
ns_book7['도서명'].mode()

0    승정원일기
Name: 도서명, dtype: object

**mode() 메서드는 텍스트뿐만 아니라 수치형에도 적용할 수 있다.**

In [37]:
ns_book7['발행년도'].mode()

0    2012.0
Name: 발행년도, dtype: float64

# **데이터프레임에서 기술통계 구하기**

**판다스 시리즈 객체뿐만 아니라 데이터프레임에서 기술통계 관련 메서드를 사용할 때 수치형 열만 연산할 수 있기 때문에 해당 열에만 적용되도록 numeric_only 매개변수를 True로 지정해야 한다.**

In [38]:
ns_book7.mean(numeric_only=True)

번호      202977.476649
발행년도      2008.460076
도서권수         1.145540
대출건수        11.593439
dtype: float64

**mode() 메서드도 데이터프레임에서 호출할 수 있다.ns_book7의 '번호' 열은 모두 고유한 값으로 이루어져 있기 때문에 최빈값을 찾는 것이 의미가 없다. 따라서 loc 메서드로 '도서명' 열부터 마지막 열까지에 대해 최빈값을 찾아야 한다.**

In [39]:
ns_book7.loc[:, '도서명':].mode()

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,승정원일기,세종대왕기념사업회 [편],문학동네,2012.0,9788937430299,9788937460005,0,1,813.6,1,0,1970-01-01

**다음 작업을 위해 ns_book7 데이터프레임을 CSV 파일로 저장하기**

In [40]:
ns_book7.to_csv('ns_book7.csv', index=False)

# **넘파이의 기술통계 함수**

**평균 구하기**

**넘파이에서 평균을 구할 때는 mean() 함수와 average() 함수를 사용한다.**

In [41]:
import numpy as np
np.mean(ns_book7['대출건수'])

11.593438968070707

**average() 함수는 기본적으로 mean() 함수와 동일하게 평균을 계산하는데, weights 매개변수에 가중치를 제공하면 가중 평균을 계산한다.**

In [42]:
np.average(ns_book7['대출건수'], weights=1/ns_book7['도서권수'])

10.543612175385386

**※ 판다스 데이터프레임과 시리즈 객체에 스칼라 값으로 산술 연산을 수행하면 모든 원소에 연산이 동일하게 적용되는 것을 브로드캐스팅이라고 한다. 1/ns_book8['도서권수']가 바로 이렇게 계산된다. weights 매개변수에 전달할 가중치는 입력 배열과 크기가 같아야 한다. 3개의 데이터를 가중 평균하려면 가중치를 3개 전달해야 한다는 뜻이다. 가중치가 모자라거나 더 많으면 오류가 발생한다.**

**여러 권을 보유한 도서와 그렇지 않은 도서를 공정하게 다루기 위해 대출건수를 도서권수로 나눌 수 있다. 이렇게 하면 모든 도서의 권수가 1일 때 대출 건수를 얻게 된다.**

In [43]:
np.mean(ns_book7['대출건수']/ns_book7['도서권수'])

9.873029861445774

**전체 대출건수를 모두 더한 다음 전체 도서권수로 나눌 수 있다. 이렇게 하면 도서에 상관없이 한 권 당 대출건수를 구할 수 있다.**

In [44]:
ns_book7['대출건수'].sum()/ns_book7['도서권수'].sum()

10.120503701300958

**중앙값 구하기**

**중앙값을 구할 때는 median()  함수를 사용한다.**

In [45]:
np.median(ns_book7['대출건수'])

6.0

**최솟값, 최댓값 구하기**

**넘파이도 최솟값, 최댓값을 계산하기 위한 min(), max() 함수를 제공한다.**

In [46]:
np.min(ns_book7['대출건수'])

0

In [47]:
np.max(ns_book7['대출건수'])

1765

**분위수 구하기**

**분위수는 quantile() 함수로 구할 수 있다.**

In [48]:
np.quantile(ns_book7['대출건수'], [0.25,0.5,0.75])

array([ 2.,  6., 14.])

**넘파이는 percentile 함수도 제공한다. 백분위를 0~100 사이의 값으로 지정하는 것 외에는 quantile() 함수와 동일하다.**

In [52]:
np.quantile(ns_book7['대출건수'], [0.25,0.5,0.75])

array([ 2.,  6., 14.])

**※ 판다스의 quantile() 메서드처럼 넘파이의 quantile() 함수에도 interpolation 매개변수가 있다. 판다스에서 제공하는 보간 방식도 모두 지원한다.넘파이 1.22 버전부터는 interpolation 매개변수가 method 매개변수로 바뀌고 더 많은 보간 방식을 지원한다.**

**분산 구하기**

**넘파이에서는 분산을 계산하는 var() 함수를 제공한다.**

In [53]:
np.var(ns_book7['대출건수'])

371.6946438971496

**판다스의 var() 메서드로 계산했을 때와 값이 조금 다르다. 판다스로 다시 한번 분산을 구해 보면 다음과 같다.**

In [54]:
ns_book7['대출건수'].var()

371.69563042906674

**※ 모집단은 아예 구할 수 없거나 구하기 매우 어려운 경우가 많다. 그래서 표본집단을 사용해서 모집단의 특징을 추정하는 일이 많다. 표본집단은 평균과 n-1의 샘플 데이터를 알고 있다면 마지막 한 개의 샘플 값은 자동으로 알 수 있다. 이러한 경우를 '자유도가 n-1'이라고 한다. 따라서 분산을 계산할 때 분모를 n이 아니라 n-1로 나눈다. 반면에 넘파이의 var() 함수는 n으로 나누기 때문에 판다스와 결과가 다르다. 표본집단으로 모집단을 추정하려는 것이 아니고, 단순히 일련의 데이터에 대한 분산을 계산하고 싶다면 이렇게 n으로 나누면 된다.**

**판다스와 넘파이 모두 ddof 매개변수를 사용하여 자유도 차감값을 지정할 수 있다.**

**판다스 var() 메서드의 ddof 기본값은 1이므로 n-1로 나눗셈하고, 넘파이 var() 함수의 ddof 기본값은 0이므로 n으로 나눗셈한다.**

**판다스와 넘파이의 ddof 값을 각각 0과 1로 지정하기**

In [56]:
ns_book7['대출건수'].var(ddof=0) # 판다스

371.6946438971496

In [57]:
np.var(ns_book7['대출건수'], ddof=1) # 넘파이

371.69563042906674

**표준편차 구하기**

**표준편차를 구할 때는 std() 함수를 사용한다.**

**표준편차도 분산과 마찬가지로 판다스와 넘파이의 자유도 차감값이 다르다.**

In [58]:
np.std(ns_book7['대출건수'])

19.27938390865096

**최빈값 구하기**

**넘파이는 직접적으로 최빈값을 계산하는 함수를 제공하지 않는다.**

**unique() 함수를 사용해 최빈값을 찾을 수 있다. unique() 함수는 배열에서 고유한 값을 찾아 준다. return_counts 매개변수를 기본값 False에서 True로 바꿔 주면 고유한 값의 등장 횟수도 반환한다.**

In [59]:
values, counts = np.unique(ns_book7['도서명'], return_counts=True)

**counts 배열에서 가장 큰 값의 인덱스 찾기: argmax() 함수**

In [60]:
max_idx = np.argmax(counts)

**values 배열에서 해당 인덱스의 값 출력하기**

In [61]:
values[max_idx]

'승정원일기'

**※ 판다스 메서드와 넘파이 함수는 거의 동일한 기능을 제공하지만, 분산과 표준편차처럼 기본 계산 방식이 조금 다른 경우도 있다.**